@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  scrollbar-width: none;
  scrollbar-color: #7a86b8 #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #7a86b8;
  border-radius: 10px;
  border: 3px none #ffffff;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}